* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.lottery-card{
    background: #ffde59;
    padding: 40px;
    border: 4px solid #000;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1{
    font-size: 30px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 20px;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #000;
    outline: none;
}

button{
    padding: 12px 20px;
    font-size: 18px;
    background-color: #00f5d4;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #000;
    cursor: pointer;
    transition: 0.1s;
    width: 100%;
}

button:active{
    transform: translate(4px, 4px);
    box-sizing: 0px 0px 0px #000;
}

.result{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    border: 3px solid #000;
    padding: 10px;
    background: #fff;
}


@media (max-width:600px) {
    .lottery-card{
        width: 100%;
        padding: 25px;
    }

    h1{
        font-size: 22px;
    }

    input{
        font-size: 16px;
        padding: 10px;
    }

    button{
        font-size: 16px;
        padding: 10px;
    }

    .result{
        font-size: 18px;
    }
}