* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.135);
    position: fixed;
    width: 100%;
    backdrop-filter: blur(20px);
    transition: all ease 0.2s;
}

nav div{
    display: flex;
    gap: 20px;
}

img{
    width: 100%;
}