* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background: #ffde59;
    padding: 40px;
    border: 4px solid #000;
    box-shadow: 8px 8px 0px #000;
    text-align: center;
}

h1{
    font-size: clamp(22px, 5vw, 32px);
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.dice{
    /* height: 280px; */
    width: clamp(80px, 20vw, 120px);
    margin: 15px;
    border: 4px solid #000;
    box-shadow: 4px 4px 0px #111;
    background-size: cover;
}

.result{
    font-size:clamp(16px, 4vw, 20px);
    font-weight: 700;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #000;
    background: #fff;
}

button{
    margin-top: 25px;
    padding: 12px 25px;
    font-size: clamp(14px, 4vw, 18px);
    font-weight: 700;
    background: #00f5d4;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #000;
    cursor: pointer;
    transition: 0.1s;
    max-width: 250px;
}

button:active{
    transform: translate(4px, 4px);
        box-shadow: 0px 0px 0px #000;
}

@media (max-width:400px) {
    .container{
        padding: 25px;
    }
}