@font-face {
    font-family: font1;
    src: url(/assets/fonts/jizHRFtNs2ka5fXjeivQ4LroWlx-6zAjjH7M.woff2);
}

@font-face {
    font-family: font2;
    src: url(/assets/fonts/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    height: 60px;
    width: 100%;
    /* background-color: crimson; */
    padding: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#nav-link{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#nav-link a{
    font-size: 14px;
    text-decoration: none;
    color: #111;
}

#nav h2{
    font-size: 18px;
    font-weight: 600;
}


#nav button{
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid black;
    background-color: transparent;
    margin-top: 10px;
    text-transform: uppercase;
}

#nav button i{
    margin-left: 5px;
    font-weight: 200;
}

#center{
    height: calc(100% - 60px);
    width: 100%;
    margin-top: 40px;
}

#text{
    text-align: center;
    padding: 70px;
}

#text h4{
    font-size: 30px;
    font-family: font1;
    font-weight: 400;
    margin-bottom: 20px;
}

#text h1{
    font-size: 75px;
    font-family: font2;
    line-height: 1;
    margin-bottom: 20px;
}

#text p{
    font-size: 20px;
    width: 50%;
    margin: auto;
    color: #777;
    margin-bottom: 22px;
    line-height: 1.5;
}

#text button{
    padding: 18px 28px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid black;
    background-color: transparent;
    margin-top: 10px;
    text-transform: uppercase;
}

#text button i{
    margin-left: 5px;
    font-weight: 200;
}

img{
    margin-top: -85px;
    position: absolute;
    height: 700px;
    left: 48%;
    transform: translateX(-50%);
    rotate: -8deg;
    z-index: 9;
}

#gradient1{
    height: 40%;
    width: 100%;
    background: linear-gradient( rgb(231, 167, 49), rgb(255, 67, 98), rgb(210, 2, 210));   
    filter: blur(90px);
    position: absolute;
    rotate: -5deg;
}

#gradient2{
    height:50%;
    width: 100%;
    background-color: #fff;
    filter: blur(70px);
    position: absolute;
    rotate: -3deg;
    margin-top: 33%;
    z-index: 10;
}

#page2{
    height: 50%;
    width: 100%;
}
