* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
}

nav{
    height: 80px;
    width: 100%;
    /* background-color: lightseagreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
}

#inner{
    display: flex;
    align-items: center;
    gap: 40px;
}

#inner h2{
    font-size: 22px;
    font-weight: 500;
}

#inner h4{
    font-size: 22;
    font-weight: 400;
}

button{
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: black;
    padding: 10px 28px;
    border: none;
    border-radius: 10px;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: #001D21;
}

.page1 .text{
    padding-top: 10%;
}

.text h1{
    font-size: 60px;
    line-height: 1;
    font-weight: 450;
}

.text p{
    font-size: 17px;
    margin: auto;
    width: 45%;
    margin-top: 20px;
    opacity: 0.8;
}

.page1 .text{
    text-align: center;
}

