* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    padding: 30px;
    overflow: auto;
}

.car-card{
    border-radius: 10px;
    max-width: 100%;
    background-color: black;
    border: 2px solid white;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 20px;
}

.car-card .div1{
    position: relative;
}

.car-card .div1 h5{
    color: white;
    background-color: green;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 10px;
    border-radius: 50px;
    font-weight: 500;
}

.car-card img{
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.right{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.div2{
    width: 60%;
}

.car-card .div2 h2{
    font-size: 35px;
}

.car-card .div2 h2 span{
    font-size: 15px;
}

.car-card .div2 .colors{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.car-card .div2 .colors h4{
    margin: 0;
}

.car-card .div2 .colors div{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    margin-right: -10px;
    border: 1px solid white;
    align-items: center;
}

.car-card .div2 .colors h6{
    font-size: 14px;
    margin-right: 10px;
    font-weight: 500;
}

.car-card .div2 .colors p{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
}

.car-card .div2 h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.8;
}

.car-card .div2 h4{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.car-card .div2 h6{
    margin-top: 10px;
    font-size: 13px;
}

.div3{
    width: 40%;
}

.div3 .pros{
    font-size: 25px;
    color: green;
    margin-bottom: 10px;
}

.pros-p, .cons-p{
    font-size: 13px;
}

.pros-p p{
    font-weight: 500;
}

.cons-p p{
    font-weight: 500;
}

.pros-p p::before{
    content: '- ';
}

.cons-p p::before{
    content: '- ';
}

.div3 .cons{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: red;
}


@media (max-width:992px) {
    .car-card{
        flex-direction: column;
        align-items: flex-start;
        padding: 25px;
        gap: 20px;
    }

    .right{
        flex-direction: column;
        gap: 30px;
    }

    .div2, .div3{
        width: 100%;
    }

    .car-card .div2 h2{
        font-size: 26px;
    }

    .div3 .pros,
    .div3 .cons{
        font-size: 20px;
    }
}

