@font-face {
    font-family: font1;
    src: url(/fonts/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2);
}

@font-face {
    font-family: font2;
    src: url(/fonts//jizHRFtNs2ka5fXjeivQ4LroWlx-6zAjjH7M.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font1;
}

html,
body {
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    /* background-color: crimson; */
    /* position: fixed; */
}

nav{
    min-height: 72px;
    padding: 0 160px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 18px;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: 14px;
}

.nav-links a:hover{
    color: #5f5f5f;
}

nav button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: #fff;

    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

nav button:hover{
    background-color: #111;
    transform: scale(0.97);
    color: #fff;
}


/* page-1 */
.page1{
    width: 100%;
    min-height: 100vh;
    /* background-color: crimson; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 100px 0;
    text-align: center;

    /* overflow: hidden; */
}

.hero-content{
    max-width: 720px;
    /* margin-bottom: 60px; */
}

.hero-tagline{
    font-size: 30px;
    font-family: font2;
    margin-bottom: 14px
}

.hero-content h1{
    font-size: 80px;
    line-height: 1;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

.hero-paragraph{
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.6;
    margin-bottom: 18px;
}

.hero-cta{
    padding: 18px 28px;
    border-radius: 50px;
    background-color: white;
    font-size: 13px;
    text-transform: uppercase;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    transition: transform 0.2s ease, background-color 0.2s ease;
}


.hero-cta i{
    font-size: 20px;
}

.hero-cta:hover{
    background-color: black;
    color: #fff;
}

.hero-visual{
    /* position: relative; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-top: 60px;
    /* overflow: hidden; */
}

.hero-visual img{
    /* position: absolute; */
    width: 100%;
    max-width: 700px;
    rotate: -9deg;
    /* padding-top: 55px; */
}

.gradient1{
    height: 250px;
    width: 100%;
    background: linear-gradient(rgb(239, 157, 6), rgb(252, 141, 159), rgb(205, 4, 205));
    filter: blur(60px);
    rotate: -6deg;
}

.gradient2{
    /* position: absolute; */
    height:300px;
    width: 100%;
    background-color: white;
    filter: blur(60px);
    rotate: -6deg;
    top: 90%;
}


/* page-2 */
.page2{
    background-color: crimson;
     width: 100%;
    min-height: 100vh;
}





