* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

h1{
    font-size: 28px;
}

input{
    width: 300px;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #111;
}


#output {
    font-size: 20px;
    min-height: 30px;
    color: lightgreen;
}