* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpapers.com/images/hd/avengers-doomsday-logo-reveal-ho4k22ggffspbjrt.jpg');
    background-size: cover;
    background-position: center;

}

#container{
    height: 75%;
    width: 60%;
    /* background-color: crimson;    */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
}

h2{
    font-size: 2rem;
}

#clock-container{
    height: 40%;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

#clock-container img{
    height: 100%;
    filter: invert(1);
    object-fit: cover;
    object-position: center;
}

.hands{
    height: 2%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center left;
    transform: translateY(-50%) rotate(-90deg);
    /* transition: all ease-in 0.5s;     */
}

#secHand{
     width: 45%;
    background-color: blue;
}

#minHand{
    width: 40%;
    background-color: crimson;
}

#hourHand{
    width: 30%;
    background-color: gold;
}

