* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff
}

html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    width: 90%;
    max-width: 500px;
    background: #ff3c38;
    padding: 40px;
    border: 4px solid #000;
    box-shadow: 8px 8px 0 black;
}

.container h1{
    text-transform: uppercase;
    letter-spacing: 2px;
}

button{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    background: #00f5d4;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #000;
    box-shadow: 6px 6px 0 #000;
    cursor: pointer;
    transition: 0.1s ease;
}

button:active{
    transform: translate(4px, 4px);
    box-shadow: 1px 1px 0 #000;
}

.gallery{
    margin-top: 20px;
}

.gallery img{
    width: 100%;
    height: 350px;
    max-width:250px;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: top;
    border: 4px solid #000;
    box-shadow: 6px 6px #000;
}

@media (max-width:480px) {
    .container{
        padding: 25px;
    }
    
    .container h1{
        font-size: 18px;
    }

    .gallery img{
        height: 280px;
        
    }
}


