* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    transition: 0.3s ease;
}

#box h2{
    text-align: center;
    padding-top: 45%;
}

button{
    font-size: 18px;
    padding: 10px 20px;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: #111;
}

.btn-group{
    display: flex;
    gap: 20px;
}

button:active{
    scale: 0.95;
}