* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

button{
    padding: 10px 20px;
    color: #111;
    background-color: lightseagreen;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    border: none;
}

button:active{
    scale: 0.95;
}