* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fefefe;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;  
}

.generator-btn{
    padding: 15px 25px;
    font-size: clamp(14px, 3vw, 18px);
    font-weight: 600;
    letter-spacing: 2px;
    background: #ff4d6d;
    border: 4px solid #000;
    box-shadow: 4px 4px 0px #000;
    cursor: pointer;
    transition: 0.1s;
    margin-bottom: 30px;
}

.generator-btn:active{
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px #000;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000;
    box-shadow: 4px 4px 0px #000;
    font-size: 18px;
    font-weight: 600;
    transition: transform 0.2s;
}

.card:hover{
    transform: rotate(-2deg) scale(1.05);
}

