* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

main{
    min-height: 100%;
    width: 100%;
    background: radial-gradient(#220E08, black);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 60px;
}

nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(#171212, #100B0B);
    padding: 10px 20px;
    border-radius: 5px;
}

.part2 h4{
    font-size: 14px;
}

nav .logo{
    height: 35px;
}

nav .profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
