* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 80px 280px 1fr 1fr;

    gap: 10px;

    grid-template-areas: 
    "nav nav nav"
    "left-1 upper-right-1 upper-right-2"
    "left-2 center center"
    "left-2 bottom-right-1 bottom-right-2"
    ;
}

#nav{
    grid-area: nav;
    background-color: crimson;
    border-radius: 20px;
}

#left-1{
    grid-area: left-1;
    background-color: lightgreen;
    border-radius: 20px;
}

#left-2{
    grid-area: left-2;
    background-color: yellow;
    border-radius: 20px;
}

#upper-right-1{
    grid-area: upper-right-1;
    background-color: rgb(0, 191, 255);
    border-radius: 20px;
}

#upper-right-2{
    grid-area: upper-right-2;
    background-color: coral;
    border-radius: 20px;
}

#center{
    grid-area: center;
    background-color: rgb(254, 173, 187);
    border-radius: 20px;
}

#bottom-right-1{
    grid-area: bottom-right-1;
    background-color: yellowgreen;
    border-radius: 20px;
}

#bottom-right-2{
    grid-area: bottom-right-2;
    background-color: violet;
    border-radius: 20px;
}

