* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    height: 100%;
    width: 100%;
}



.container{
    background: #fdf6e3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper{
    border: 3px solid black;
    padding: 50px 60px;
    box-shadow: 6px 6px 0px black;
}

h1{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

.piano{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}


.key{
    width: 90px;
    height: 250px;
    background: #ff4d4d;
    border: 4px solid black;
    box-shadow: 6px 6px 0px black;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 15px;
    cursor: pointer;
}

.key:nth-child(2){
    background: #4dff88;
}

.key:nth-child(3){
    background: #4da6ff;
}

.key:nth-child(4){
    background: #ffd24d;
}

.key:nth-child(5){
    background: #ff66cc;
}

.key:nth-child(6){
    background: #66ffff;
}

.key:nth-child(7){
    background: #ff944d;
}

.key.active{
    transform: translate(6px, 6px);
    box-shadow: none;
}